# History files
.Rhistory

# Session Data files
.RData

# User-specific files
.Ruserdata
.Rprofile

# RStudio files and directories
.Rproj.user
*.Rproj
.config
.local
# nextflow misc files
/nextflow/work/
/nextflow/.nextflow/cache/
.dds
.xlsx
/metadata/.nextflow/cache
.nextflow/cache/
/metadata/*.bed
.nextflow*
.nextflow/history
/miniforge3/

.html
report*
.ipynb_checkpoints/*

mnt_out
mnt_data
mnt_resources
